# Tugas Data Cleaning

In [11]:
import pandas as pd
import numpy as np

In [12]:
data = pd.read_csv('Bridges Data Version 1.csv')

In [13]:
data.shape

(108, 13)

In [14]:
data.head()

,IDENTIF,RIVER,LOCATION,ERECTED,PURPOSE,LENGTH,LANES,CLEAR-G,T-OR-D,MATERIAL,SPAN,REL-L,TYPE
0,E1,M,3.0,1818,HIGHWAY,NaN,2.0,N,THROUGH,WOOD,SHORT,S,WOOD
1,E2,A,25.0,1819,HIGHWAY,1037.0,2.0,N,THROUGH,WOOD,SHORT,S,WOOD
2,E3,A,39.0,1829,AQUEDUCT,NaN,1.0,N,THROUGH,WOOD,NaN,S,WOOD
3,E5,A,29.0,1837,HIGHWAY,1000.0,2.0,N,THROUGH,WOOD,SHORT,S,WOOD
4,E6,M,23.0,1838,HIGHWAY,NaN,2.0,N,THROUGH,WOOD,NaN,S,WOOD

In [15]:
data.tail()

,IDENTIF,RIVER,LOCATION,ERECTED,PURPOSE,LENGTH,LANES,CLEAR-G,T-OR-D,MATERIAL,SPAN,REL-L,TYPE
103,E84,A,24.0,1969,HIGHWAY,870.0,6.0,G,THROUGH,STEEL,MEDIUM,F,ARCH
104,E91,O,44.0,1975,HIGHWAY,3756.0,6.0,G,THROUGH,STEEL,LONG,F,ARCH
105,E90,M,7.0,1978,HIGHWAY,950.0,6.0,G,THROUGH,STEEL,LONG,F,ARCH
106,E100,O,43.0,1982,HIGHWAY,NaN,NaN,G,NaN,NaN,NaN,F,NaN
107,E109,A,28.0,1986,HIGHWAY,NaN,NaN,G,NaN,NaN,NaN,F,NaN

In [16]:
data.describe()

         LOCATION      ERECTED       LENGTH      LANES
count  107.000000   108.000000    81.000000  92.000000
mean    25.978505  1905.314815  1567.469136   2.630435
std     13.665871    37.173664   747.491523   1.164657
min      1.000000  1818.000000   804.000000   1.000000
25%     15.500000  1884.000000  1000.000000   2.000000
50%     27.000000  1903.000000  1300.000000   2.000000
75%     37.500000  1928.000000  2000.000000   4.000000
max     52.000000  1986.000000  4558.000000   6.000000

In [17]:
data['LOCATION'].describe()

count    107.000000
mean      25.978505
std       13.665871
min        1.000000
25%       15.500000
50%       27.000000
75%       37.500000
max       52.000000
Name: LOCATION, dtype: float64

In [18]:
data['PURPOSE'].value_counts()

HIGHWAY     71
RR          32
AQUEDUCT     4
WALK         1
Name: PURPOSE, dtype: int64

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 13 columns):
IDENTIF     108 non-null object
RIVER       108 non-null object
LOCATION    107 non-null float64
ERECTED     108 non-null int64
PURPOSE     108 non-null object
LENGTH      81 non-null float64
LANES       92 non-null float64
CLEAR-G     106 non-null object
T-OR-D      102 non-null object
MATERIAL    106 non-null object
SPAN        92 non-null object
REL-L       103 non-null object
TYPE        106 non-null object
dtypes: float64(3), int64(1), object(9)
memory usage: 11.0+ KB

## Imputation Missing Value

In [20]:
data.isnull().sum()

IDENTIF      0
RIVER        0
LOCATION     1
ERECTED      0
PURPOSE      0
LENGTH      27
LANES       16
CLEAR-G      2
T-OR-D       6
MATERIAL     2
SPAN        16
REL-L        5
TYPE         2
dtype: int64

In [21]:
data.isnull().sum().sum()

77

In [22]:
data['LENGTH'] = data['LENGTH'].fillna((data['LENGTH'].mean()))
data.isnull().any()

IDENTIF     False
RIVER       False
LOCATION     True
ERECTED     False
PURPOSE     False
LENGTH      False
LANES        True
CLEAR-G      True
T-OR-D       True
MATERIAL     True
SPAN         True
REL-L        True
TYPE         True
dtype: bool

In [23]:
data['SPAN'] = data.fillna(data['SPAN'].value_counts().index[0])
data.isnull().any()

IDENTIF     False
RIVER       False
LOCATION     True
ERECTED     False
PURPOSE     False
LENGTH      False
LANES        True
CLEAR-G      True
T-OR-D       True
MATERIAL     True
SPAN        False
REL-L        True
TYPE         True
dtype: bool

In [24]:
data = data.apply(lambda x:x.fillna(x.value_counts().index[0]))
data.isnull().any()

IDENTIF     False
RIVER       False
LOCATION    False
ERECTED     False
PURPOSE     False
LENGTH      False
LANES       False
CLEAR-G     False
T-OR-D      False
MATERIAL    False
SPAN        False
REL-L       False
TYPE        False
dtype: bool

## Encode Labels

In [27]:
from sklearn.preprocessing import LabelEncoder

In [30]:
data['TYPE'] = LabelEncoder().fit_transform(data['PURPOSE'])
data.head()

,IDENTIF,RIVER,LOCATION,ERECTED,PURPOSE,LENGTH,LANES,CLEAR-G,T-OR-D,MATERIAL,SPAN,REL-L,TYPE
0,E1,M,3.0,1818,HIGHWAY,1567.469136,2.0,N,THROUGH,WOOD,E1,S,1
1,E2,A,25.0,1819,HIGHWAY,1037.000000,2.0,N,THROUGH,WOOD,E2,S,1
2,E3,A,39.0,1829,AQUEDUCT,1567.469136,1.0,N,THROUGH,WOOD,E3,S,0
3,E5,A,29.0,1837,HIGHWAY,1000.000000,2.0,N,THROUGH,WOOD,E5,S,1
4,E6,M,23.0,1838,HIGHWAY,1567.469136,2.0,N,THROUGH,WOOD,E6,S,1

## Standardize

In [31]:
from sklearn.preprocessing import StandardScaler

In [33]:
data['ERECTED'] = StandardScaler().fit(data[['ERECTED']]).transform(data[['ERECTED']])
data.head()

C:\Users\Girl\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Girl\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  """Entry point for launching an IPython kernel.

,IDENTIF,RIVER,LOCATION,ERECTED,PURPOSE,LENGTH,LANES,CLEAR-G,T-OR-D,MATERIAL,SPAN,REL-L,TYPE
0,E1,M,3.0,-2.359786,HIGHWAY,1567.469136,2.0,N,THROUGH,WOOD,E1,S,1
1,E2,A,25.0,-2.332759,HIGHWAY,1037.000000,2.0,N,THROUGH,WOOD,E2,S,1
2,E3,A,39.0,-2.062498,AQUEDUCT,1567.469136,1.0,N,THROUGH,WOOD,E3,S,0
3,E5,A,29.0,-1.846288,HIGHWAY,1000.000000,2.0,N,THROUGH,WOOD,E5,S,1
4,E6,M,23.0,-1.819262,HIGHWAY,1567.469136,2.0,N,THROUGH,WOOD,E6,S,1

## Normalize

In [34]:
from sklearn.preprocessing import Normalizer

In [35]:
data['LOCATION'] = Normalizer().fit(data[['LOCATION']]).transform(data[['LOCATION']])
data['LENGTH'] = Normalizer().fit(data[['LENGTH']]).transform(data[['LENGTH']])
data.head()

,IDENTIF,RIVER,LOCATION,ERECTED,PURPOSE,LENGTH,LANES,CLEAR-G,T-OR-D,MATERIAL,SPAN,REL-L,TYPE
0,E1,M,1.0,-2.359786,HIGHWAY,1.0,2.0,N,THROUGH,WOOD,E1,S,1
1,E2,A,1.0,-2.332759,HIGHWAY,1.0,2.0,N,THROUGH,WOOD,E2,S,1
2,E3,A,1.0,-2.062498,AQUEDUCT,1.0,1.0,N,THROUGH,WOOD,E3,S,0
3,E5,A,1.0,-1.846288,HIGHWAY,1.0,2.0,N,THROUGH,WOOD,E5,S,1
4,E6,M,1.0,-1.819262,HIGHWAY,1.0,2.0,N,THROUGH,WOOD,E6,S,1